<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Tracker</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container py-4">
    <h1 class="mb-4">Welcome to the Gym Tracker App</h1>

    <div class="card p-3 mb-4">
        <h2 class="h5">Add a Workout</h2>

        <form action="/add" method="POST" class="row g-3">
            <div class="col-md-4">
                <input type="text" name="name" class="form-control" placeholder="Workout Name" required>   
            </div>
            <div class="col-md-4">
                <input type="number" name="duration" class="form-control" placeholder="Duration (mins)" required></label><br>
            </div>
            <div class="col-md-3">
                <input type="text" name="type" class="form-control" placeholder="Type (eg. Cardio, Weights)" required>
            </div>
            <div class="col-md-3">
                <input type="date" name="date" class="form-control" required>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary w-100">Add Workout</button>
            </div>
        </form>
    </div>


    <h2 class="h5 mb-3">Workouts</h2>
    <ul class="list-group">
        {% for w in workouts %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>{{ w.date }} | {{ w.type }} | {{ w.name }} - {{ w.duration}} mins</span>
            <a href="/delete/{{ w.workoutId }}" class="btn btn-sm btn-danger">Delete</a>
        </li>
        {% endfor %}
    </ul>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>